body {
    background: linear-gradient(to bottom, #0F1724, #49a07e, #0F1724);
}

/* Animation sur le menu */
.navbar-nav .nav-link {
    position: relative;
    font-size: 18px;
    color: rgba(210, 210, 210, 0.95);
    transition: color 0.3s ease;
}




.navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link.animate::before {
    visibility: visible;
    transform: scaleX(1);
    background-color: rgba(210, 210, 210, 0.95);
}

.navbar {
    background-color: #0F1724;
}

/* Menu fixe lors du défilement */
.navbar.fixed-top {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
}

.logo-dev {
    width: 68%;
}

.section-title {
    text-align: center;
    padding: 40px 0;
    color: #fff;
    border: 1px solid rgb(211, 18, 18);
}

.box-1{
    background-color: rgba(255, 255, 255, 0.89);
    /*border: 1px solid rgb(211, 18, 18);*/
}

.avatar {
    vertical-align: middle;
    width: 300px;
    height: 375px;
    border-radius: 0;
    clip-path: ellipse(50% 40% at 50% 50%);
    object-fit: cover;
    margin: auto; /* Assure le centrage horizontal */
}

.div-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*border: 1px solid rgb(211, 18, 18);*/
    height: 100%;
}


@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}




/* Styles pour agrandir le titre et l'animation */
.d-flex .card-title {
    font-size: 40px; /* Taille du texte pour "Je suis" */
    color: rgba(0, 0, 0, 0.89);
    left: -100px;
    position: relative;
    -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.d-flex h1 {
    font-size: 60px; /* Taille du texte pour "PIERRE HANDY" */
    font-weight: bold;
    color: rgba(0, 0, 0, 0.89);
}

.bg-custom-green {
    background-color: #49a07e;
    transition: background-color 0.3s ease;
}

.bg-custom-green:hover {
    background-color: #6dd19e; /* Une teinte légèrement plus foncée pour l'effet hover */
}

.sec-project{
    background-color: #0F1724;
    /*border: 1px solid rgb(211, 18, 18);*/
}




.twelve h2 {
    font-size:26px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:160px; text-align:center; margin:auto; white-space:nowrap; padding-bottom:13px;
}


.twelve h2:before {
    background-color: #ffffff;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}


/*Information caouselle*/
.carousel-caption{
    color: black;
    display: none;
}

input, textarea {
    background-color: black;
    color: white;
}




